.hyperlink {
    font-family: cursive;
    color: rgb(43, 112, 129);
}

h1 {
    font-family: 'Courier New', Sans-serif;
    color: rgb(43, 112, 129);
    text-align: center;
}

body {
    color: rgb(43, 112, 129);
}

.example-image {
    height: auto;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}